{% extends 'base.html.twig' %}

{% block iconedec %}
{% endblock %}

{% block header %}
<div class="container px-0">
    <nav class="navbar navbar-light navbar-expand-xl py-3">
        <a href="index.html" class="navbar-brand">
            <h1 class="text-primary display-6">Nourishia</h1>
            <img src="{{ asset('img/logo.png')}}" alt="Logo" width="150" height="30">
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
    </nav>
</div>
{% endblock %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Réinitialiser votre mot de passe</h1>

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(resetForm, { 'attr': {'novalidate': 'novalidate'} }) }}
            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.first) }}
                {{ form_widget(resetForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(resetForm.plainPassword.first) }}
            </div>

            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.second) }}
                {{ form_widget(resetForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(resetForm.plainPassword.second) }}
            </div>

            <button class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
    <div class="mt-4"></div>
    </div>
{% endblock %}



