{% extends 'base.html.twig' %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Edit Questionnaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.questions) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('app_questionnaire_index') }}" class="btn btn-secondary">
        Back to list
    </a>
{% endblock %}